<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="mockStyle.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>

	<div ng-app="myApp" ng-controller="myCtrl" class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Service Mock</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="excel-upload.html">Upload mock file</a></li>
					<li><a href="manual-entry.html">API mock</a></li>
				</ul>
				<div class="input-group col-sm-3">
					<span class="input-group-addon">Selected service</span> <select
						class="form-control" ng-model="selectedApp"
						ng-change="chooseApp()" ng-options="x for x in allApps"
						ng-disabled="disableDrop"></select>
				</div>
			</div>
		</nav>
		<div class="jumbotron col-sm-12">
			File name :
			<p ng-style="customStyle.style">{{file[0]}}</p>
			<font ng-hide="mockedResponses.length==0">Use <b>http://localhost:2883/mockit/{mock service name}</b> as Base URL
			</font>
			<div class="input-group col-sm-9" style="float: left !important;">
				<!-- <select ng-model="selectedFile" class="form-control col-sm-3"
					ng-change="changeFileName()" ng-options="x for x in files"></select>
				<span class="input-group-btn">
					<button class="btn btn-success"
						ng-disabled="fileDisabled" ng-click="setFile()">Mock by
						this file</button>
				</span>-->
				<form>
                <div class="form-group">
                    <input type="file" file-model="myFile"  class="form-control" style="width: 50%; margin-right: 1%;" id ="myFileField"/>
                	<button ng-click="uploadFile()" class = "btn btn-success">Mock by
						this file</button>
				</div>
            </form>
			</div>
		</div>
		<table class="table table-striped" ng-show="noApi">
			<tr>
				<th>Mock API</th>
				<th>Request method</th>
				<th>status code</th>
				<th>Response</th>
			</tr>
			<tr ng-repeat="x in mockedResponses">
				<td>{{ x.api }}</td>
				<td>{{ x.requestMethod }}</td>
				<td>{{ x.statusCode }}</td>
				<td class="cell expand-maximum-on-hover" style="height: 50px; overflow: scroll;">{{ x.response }}</td>
			</tr>
		</table>
		<footer class="col-sm-12 copyright text-center">
			Copyright &copy; 2020 <span>Infosys</span>
		</footer>
	</div>

	<script>
		var app = angular.module('myApp', []);
		
		app.directive('fileModel', function ($parse) {
	        return {
	            restrict: 'A', //the directive can be used as an attribute only
	 
	            /*
	             link is a function that defines functionality of directive
	             scope: scope associated with the element
	             element: element on which this directive used
	             attrs: key value pair of element attributes
	             */
	            link: function (scope, element, attrs) {
	                var model = $parse(attrs.fileModel),
	                    modelSetter = model.assign; //define a setter for demoFileModel
	 
	                //Bind change event on the element
	                element.bind('change', function () {
	                    //Call apply on scope, it checks for value changes and reflect them on UI
	                    scope.$apply(function () {
	                        //set the model value
	                        modelSetter(scope, element[0].files[0]);
	                    });
	                });
	            }
	        };
	    });
		
		app.service('fileUploadService', function ($http, $q) {
			 
	        this.uploadFileToUrl = function (file, uploadUrl) {
	            //FormData, object of key/value pair for form fields and values
	            var fileFormData = new FormData();
	            fileFormData.append('file', file);
	 
	            var deffered = $q.defer();
	            $http.post(uploadUrl, fileFormData, {
	                transformRequest: angular.identity,
	                headers: {'Content-Type': undefined}
	 
	            }).then(function (response) {
	                deffered.resolve(response);
	 				
	            },function (response) {
	                deffered.reject(response);
	            });
	 
	            return deffered.promise;
	        }
	    });
		
		app.controller('myCtrl', function($scope, $http, $window, fileUploadService) {
			$scope.customStyle = {};
			$scope.fileDisabled = true;

			$scope.allCockies = document.cookie;
			if ($scope.allCockies == "") {
				location.replace("/");
			}
			var cookiePair = $scope.allCockies.split("=");

			if ("finalAppName" == cookiePair[0].trim()) {
				$scope.finalAppName = decodeURIComponent(cookiePair[1]);
				$scope.selectedApp = $scope.finalAppName;
			}
			
			$scope.uploadFile = function () {
	            var file = $scope.myFile;
	            var uploadUrl = "/mitek/uploadFile/"+$scope.selectedApp, //Url of webservice/api/server
	                promise = fileUploadService.uploadFileToUrl(file, uploadUrl);
	 				
	            promise.then(function (response) {
	                $scope.serverResponse = response;
	                $window.location.reload();
	            }, function () {
	                $scope.serverResponse = 'An error has occurred';
	            })
	        };

			$http.get("/app/getallapp").then(function(response) {
				$scope.allApps = response.data;
				if ($scope.allApps.length == 0) {
					location.replace("/");
				}
			});

			$scope.chooseApp = function() {
				document.cookie = "finalAppName=" + $scope.selectedApp + ";";
				$window.location.reload();
			}

			$http.get("/mitek/getFile").then(function(response) {
				$scope.file = response.data;
				if ($scope.file == "No file selected") {
					$scope.turnGreen();
				} else {
					$scope.turnBlue();
				}
			});

			$http.get("/mitek/getFiles").then(function(response) {
				$scope.files = response.data;

			});

			$scope.turnGreen = function() {
				$scope.customStyle.style = {
					"color" : "green"
				};
			}

			$scope.turnBlue = function() {
				$scope.customStyle.style = {
					"color" : "blue"
				};
			}

			$scope.changeFileName = function() {
				$scope.fileDisabled = false;
			}

			$scope.setFile = function() {
				$http.get(
						"/mitek/setFile/" + $scope.selectedFile + "/"
								+ $scope.finalAppName).then(function(response) {
					$window.location.reload();
				});
			}

			$scope.noApi = false;
			$http.get("/mitek/response/mocked/cache/" + $scope.finalAppName)
					.then(
							function(response) {
								$scope.mockedResponses = response.data;
								if ($scope.mockedResponses != null
										&& $scope.mockedResponses.length > 0) {
									$scope.noApi = true;
								}
							});
		});
	</script>

</body>
</html>