<!DOCTYPE html>
<html>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" type="text/css" href="mockStyle.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<body>

	<div ng-app="myApp" ng-controller="myCtrl" class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Service Mock</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="excel-upload.html">excel
							upload</a></li>
					<li><a href="manual-entry.html">Manual entry</a></li>
				</ul>
				<div class="input-group col-sm-3">
					<span class="input-group-addon">Select App</span> <select
						class="form-control" ng-model="selectedApp"
						ng-change="chooseApp()" ng-options="x for x in allApps"
						ng-disabled="disableDrop"></select>
				</div>
			</div>
		</nav>
		<div class="jumbotron col-sm-12">
			File name :
			<p ng-style="customStyle.style">{{file[0]}}</p>
			<font ng-hide="mockedResponses.length==0">Use <b>http://localhost:2883/mockit/{app
					name}</b> as Base URL
			</font>
			<div class="input-group col-sm-9" style="float: left !important;">
				<select ng-model="selectedFile" class="form-control col-sm-3"
					ng-change="changeFileName()" ng-options="x for x in files"></select>
				<span class="input-group-btn">
					<button class="btn btn-success"
						ng-disabled="fileDisabled" ng-click="setFile()">Mock by
						this file</button>
				</span>
			</div>
		</div>
		<table class="table table-striped" ng-show="mockedResponses!=null">
			<tr>
				<td>Mock API</td>
				<td>Request method</td>
				<td>status code</td>
				<td>Response</td>
			</tr>
			<tr ng-repeat="x in mockedResponses">
				<td>{{ x.api }}</td>
				<td>{{ x.requestMethod }}</td>
				<td>{{ x.statusCode }}</td>
				<td>{{ x.response }}</td>
			</tr>
		</table>
		<footer class="col-sm-12 copyright text-center">
			Copyright &copy; 2020 <span>Infosys</span>
		</footer>
	</div>

	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $http, $window) {
			$scope.customStyle = {};
			$scope.fileDisabled = true;

			$scope.allCockies = document.cookie;
			if ($scope.allCockies == "") {
				location.replace("/");
			}
			var cookiePair = $scope.allCockies.split("=");

			if ("finalAppName" == cookiePair[0].trim()) {
				$scope.finalAppName = decodeURIComponent(cookiePair[1]);
				$scope.selectedApp = $scope.finalAppName;
			}

			$http.get("/app/getallapp").then(function(response) {
				$scope.allApps = response.data;
				if ($scope.allApps.length == 0) {
					location.replace("/");
				}
			});

			$scope.chooseApp = function() {
				document.cookie = "finalAppName=" + $scope.selectedApp + ";";
				$window.location.reload();
			}

			$http.get("/mitek/getFile").then(function(response) {
				$scope.file = response.data;
				if ($scope.file == "No file selected") {
					$scope.turnGreen();
				} else {
					$scope.turnBlue();
				}
			});

			$http.get("/mitek/getFiles").then(function(response) {
				$scope.files = response.data;

			});

			$scope.turnGreen = function() {
				$scope.customStyle.style = {
					"color" : "green"
				};
			}

			$scope.turnBlue = function() {
				$scope.customStyle.style = {
					"color" : "blue"
				};
			}

			$scope.changeFileName = function() {
				$scope.fileDisabled = false;
			}

			$scope.setFile = function() {
				$http.get(
						"/mitek/setFile/" + $scope.selectedFile + "/"
								+ $scope.finalAppName).then(function(response) {
					$window.location.reload();
				});
			}

			$scope.noApi = false;
			$http.get("/mitek/response/mocked/cache/" + $scope.finalAppName)
					.then(
							function(response) {
								$scope.mockedResponses = response.data;
								if ($scope.mockedResponses == null
										|| $scope.mockedResponses.length < 1) {
									$scope.noApi = true;
								}
							});
		});
	</script>

</body>
</html>