.container{
	margin-top: 5%;
}

.adisabled {
  cursor: not-allowed;
  opacity: .65;
}

.adisabled:hover { text-decoration: none; }
.adisabled:focus { text-decoration: none; }
.adisabled:active { text-decoration: none; }

.disabled {
  cursor: not-allowed;
}

.table {
	table-layout: fixed;
}

.cell {
  max-width: 50px; /* tweak me please */
  white-space : nowrap;
  overflow : hidden;
}

.expand-small-on-hover:hover {
  max-width : 200px; 
  text-overflow: ellipsis;
}

.expand-maximum-on-hover:hover {
  max-width : initial; 
}



footer {
  background: #f8f8f8;
  color: #aaa;
  padding: 10px;
  border-radius: 6px;
  margin-top: 30px;
  border:1px solid #e7e7e7;
}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer h3 {
 color: #0894d1;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

footer .three-column {
 overflow: hidden;
}

footer .three-column li{
 width: 33.3333%;
  float: left;
  padding: 5px 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .socila-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: #f8f8f8;
  border: 1px solid #444;
  margin-bottom: 5px;
}

footer .copyright {
  padding: 15px 0;
  background: #eeeeee;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #0894d1;
}

div.input-group {
	margin-top: 8px;
	float: right !important;
}


select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

span.required {
	color: red;
	font-size: small;
}

.modal-body {
	min-height: 325px;
}

.trybutton {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.trybutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.trybutton span:after {
  content: 'Try It';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 20px;
  transition: 0.5s;
}

.trybutton:hover span {
  padding-right: 35px;
}

.trybutton:hover span:after {
  opacity: 1;
  right: 0;
}